.commentInputs{
  border: 1px solid black;
  color: blue;
  font-style: italic;
  padding: 0;
}

ion-card{
  background-color: white;
  box-shadow: none;
}

ion-grid ion-icon{
  font-size: x-large;
}

#homeContent{
  width: 100%;
  padding: 0;
  margin: 0;
}
.contentList{
  padding: 0;
  margin: 0;
}

.ngContainer{
  padding: 0;
  margin: 0;
}
.fullCard{
  border-radius: 0;
  padding: 0;
  margin: 0;
}